---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog entries:</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-content">
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url | relative_url }}">...</a>
        </span>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">« Newer</a>
    {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older »</a>
    {% endif %}
    <span>&nbsp;</span>
    <span class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></span>
  </div>

</div>
